In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
myindex = ['USA', 'Canda', 'Korea']

In [6]:
mydata = [1775, 1929, 5932]

In [7]:
myseries = pd.Series(data=mydata)

In [8]:
myseries

0    1775
1    1929
2    5932
dtype: int64

In [9]:
myseries = pd.Series(data=mydata, index=myindex)

In [10]:
myseries

USA      1775
Canda    1929
Korea    5932
dtype: int64

In [11]:
myseries[0]

1775

In [12]:
myseries['USA']

1775

In [13]:
ages = {'yj':36, 'kelly':40, 'julie':39, 'daniel':10}

In [14]:
pd.Series(ages)

yj        36
kelly     40
julie     39
daniel    10
dtype: int64

## Lect #2. Series Part2

In [16]:
q1 = {'Japan':80, 'China':450, 'India':200, 'USA':250}
q2 = {'Brazil': 100, 'China':500, 'India':210, 'USA':260}

In [26]:
salesq1 = pd.Series(q1)

In [27]:
salesq2 = pd.Series(q2)

In [28]:
salesq1['China']

450

In [29]:
salesq1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [30]:
salesq1+salesq2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [31]:
salesq1.add(salesq2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [33]:
salesq1.dtypes

dtype('int64')

## Lect #3. DataFrame Part1