In [15]:
import tensorflow.compat.v1 as tf
import pandas as pd
import numpy as np
tf.disable_v2_behavior()

WARNING:tensorflow:From /Users/yjjo/opt/anaconda3/lib/python3.8/site-packages/tensorflow/python/compat/v2_compat.py:96: disable_resource_variables (from tensorflow.python.ops.variable_scope) is deprecated and will be removed in a future version.
Instructions for updating:
non-resource variables are not supported in the long term

In [17]:
model = tf.global_variables_initializer()
df = pd.read_csv("price_data.csv", sep=",")

df

          year  avgTemp  minTemp  maxTemp  rainFall  avgPrice
0     20100101     -4.9    -11.0      0.9       0.0      2123
1     20100102     -3.1     -5.5      5.5       0.8      2123
2     20100103     -2.9     -6.9      1.4       0.0      2123
3     20100104     -1.8     -5.1      2.2       5.9      2020
4     20100105     -5.2     -8.7     -1.8       0.7      2060
...        ...      ...      ...      ...       ...       ...
2917  20171227     -3.9     -8.0      0.7       0.0      2865
2918  20171228     -1.5     -6.9      3.7       0.0      2884
2919  20171229      2.9     -2.1      8.0       0.0      2901
2920  20171230      2.9     -1.6      7.1       0.6      2901
2921  20171231      2.1     -2.0      5.8       0.4      2901

[2922 rows x 6 columns]

In [18]:
xy=np.array(df, dtype=np.float32)
xy

array([[ 2.0100100e+07, -4.9000001e+00, -1.1000000e+01,  8.9999998e-01,
         0.0000000e+00,  2.1230000e+03],
       [ 2.0100102e+07, -3.0999999e+00, -5.5000000e+00,  5.5000000e+00,
         8.0000001e-01,  2.1230000e+03],
       [ 2.0100104e+07, -2.9000001e+00, -6.9000001e+00,  1.4000000e+00,
         0.0000000e+00,  2.1230000e+03],
       ...,
       [ 2.0171228e+07,  2.9000001e+00, -2.0999999e+00,  8.0000000e+00,
         0.0000000e+00,  2.9010000e+03],
       [ 2.0171230e+07,  2.9000001e+00, -1.6000000e+00,  7.0999999e+00,
         6.0000002e-01,  2.9010000e+03],
       [ 2.0171232e+07,  2.0999999e+00, -2.0000000e+00,  5.8000002e+00,
         4.0000001e-01,  2.9010000e+03]], dtype=float32)

In [19]:
x_data = xy[:, 1:-1]
y_data = xy[:, [-1]]

In [22]:
X = tf.placeholder(tf.float32, shape=[None, 4])
Y = tf.placeholder(tf.float32, shape=[None, 1])
W = tf.Variable(tf.random_normal([4,1], name="weight"))
b = tf.Variable(tf.random_normal([1]), name="bias")

In [23]:
hypothesis = tf.matmul(X, W)+b

In [24]:
cost = tf.reduce_mean(tf.square(hypothesis - Y))

In [25]:
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.00005)
train = optimizer.minimize(cost)

In [26]:
sess = tf.Session()
sess.run(tf.global_variables_initializer())

In [ ]:
for step in range(0, 100001):
    cost_, hypo_, _ = sess.run([cost, hypothesis, train], feed_dict={X:x_data, Y:y_data})
    if step % 500 == 0:
        print("#", step, "손실비용: ", cost_)
        print("- 배추가격: ", hypo_[0])

# 0 손실비용:  11407459.0
- 배추가격:  [-47.309917]
# 500 손실비용:  2508785.0
- 배추가격:  [1584.5012]
# 1000 손실비용:  2298696.2
- 배추가격:  [2270.9236]
# 1500 손실비용:  2275913.5
- 배추가격:  [2483.8447]
# 2000 손실비용:  2271157.5
- 배추가격:  [2550.055]
# 2500 손실비용:  2268154.2
- 배추가격:  [2570.7734]
# 3000 손실비용:  2265337.8
- 배추가격:  [2577.3855]
# 3500 손실비용:  2262557.2
- 배추가격:  [2579.624]
# 4000 손실비용:  2259799.0
- 배추가격:  [2580.5066]
# 4500 손실비용:  2257060.2
- 배추가격:  [2580.9763]
# 5000 손실비용:  2254342.0
- 배추가격:  [2581.321]
# 5500 손실비용:  2251643.0
- 배추가격:  [2581.6187]
# 6000 손실비용:  2248963.5
- 배추가격:  [2581.909]
# 6500 손실비용:  2246303.0
- 배추가격:  [2582.1963]
# 7000 손실비용:  2243662.2
- 배추가격:  [2582.4668]
# 7500 손실비용:  2241040.0
- 배추가격:  [2582.766]
# 8000 손실비용:  2238436.8
- 배추가격:  [2583.0566]
# 8500 손실비용:  2235852.2
- 배추가격:  [2583.3274]
# 9000 손실비용:  2233286.0
- 배추가격:  [2583.646]
# 9500 손실비용:  2230738.2
- 배추가격:  [2583.9226]
# 10000 손실비용:  2228208.8
- 배추가격:  [2584.2202]
# 10500 손실비용:  2225697.2
- 배추가격:  [2584.5198]
# 11000 손실비용:  2223204.0
- 배추가격:  [2584.804]
# 11500 손실비용:  2220728.0
- 배추가격:  [2585.118]
# 12000 손실비용:  2218269.8
- 배추가격:  [2585.4111]
# 12500 손실비용:  2215828.8
- 배추가격:  [2585.7102]
# 13000 손실비용:  2213405.5
- 배추가격:  [2586.0393]
# 13500 손실비용:  2210999.0
- 배추가격:  [2586.3184]
# 14000 손실비용:  2208609.8
- 배추가격:  [2586.6323]
# 14500 손실비용:  2206237.8
- 배추가격:  [2586.9453]
# 15000 손실비용:  2203882.0
- 배추가격:  [2587.2358]
# 15500 손실비용:  2201543.5
- 배추가격:  [2587.5588]
# 16000 손실비용:  2199220.5
- 배추가격:  [2587.8738]
# 16500 손실비용:  2196914.5
- 배추가격:  [2588.1724]
# 17000 손실비용:  2194624.8
- 배추가격:  [2588.5103]
# 17500 손실비용:  2192351.0
- 배추가격:  [2588.816]
# 18000 손실비용:  2190093.0
- 배추가격:  [2589.114]
# 18500 손실비용:  2187851.2
- 배추가격:  [2589.454]
# 19000 손실비용:  2185624.5
- 배추가격:  [2589.7622]
# 19500 손실비용:  2183413.8
- 배추가격:  [2590.0784]
# 20000 손실비용:  2181218.8
- 배추가격:  [2590.4246]
# 20500 손실비용:  2179038.5
- 배추가격:  [2590.7307]
# 21000 손실비용:  2176873.8
- 배추가격:  [2591.0393]